* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110vh;
    background-color: #F2F4F7;
}

.top-content img {
    width: 300px;
}

.bottom-content {
    width: 430px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.bottom-content form {
    padding: 14px 16px;
}

.bottom-head {
    text-align: center;
    padding: 12px 16px;
}

.bottom-head h2 {
    margin-bottom: 3px;
}

hr {
    background-color: rgb(226, 226, 226);
    height: 1px;
    border: none;
}

.gray {
    color: rgb(109, 109, 109);
}

.nameInputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.nameInputs input {
    font-size: 15px;
    width: 49%;
    padding: 11px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}

.dob {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.para {
    font-size: 12px;
    margin-bottom: 6px;
}

.para span {
    background-color: gray;
    padding: 0px 3px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}

.day,
.month,
.year {
    font-size: 15px;
    width: 31%;
    height: 34px;
    padding: 0 20px 0 8px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 15px;
}

.gender-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gender {
    font-size: 15px;
    width: 31%;
    height: 34px;
    padding: 0 10px 0 10px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputFields {
    width: 100%;
}

.inputFields input {
    width: 100%;
    font-size: 15px;
    padding: 11px;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-bottom: 10px;
}

.bottom-text {
    font-size: 11px;
    margin-top: 10px;
    color: gray;
    cursor: pointer;
}

.bottom-text span {
    color: #385898;
}

.bottom-text span:hover {
    text-decoration: underline;

}

.btn2 {
    display: block;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    margin: 20px auto;
    padding: 15px 60px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.btn2:hover {
    background-color: #36a420;
}

.bottom-link {
    color: #1877f2;
    font-size: 17px;
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.bottom-link:hover {
    text-decoration: underline;
}

@media (max-width: 460px) {
    body {
        height: 100vh;
    }

    .top-content img {
        width: 230px;
    }

    .bottom-head h2 {
        font-size: 1.4rem;
    }

    .bottom-head p {
        font-size: 0.85rem;
    }

    .bottom-content {
        width: 350px;
        border-radius: 6px;
    }

    .bottom-text {
        font-size: 9px;
    }

    .btn2 {
        font-size: 15px;
        padding: 12px 40px;
    }

    .bottom-link {
        font-size: 15px;
    }
}

@media (max-width: 380px) {
    body {
        background-color: #fff;
    }

    .bottom-content {
        width: 100%;
        box-shadow: none;
    }

    hr {
        display: none;
    }
}