* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

body {
    background-color: #F2F4F7;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-content {
    width: 40%;
    margin-bottom: 100px;
}

.left-content img {
    width: 320px;
    margin-left: -25px;
    margin-bottom: -10px;
}

.left-content p {
    font-size: 28px;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-content form {
    display: flex;
    flex-direction: column;
    width: 396px;
    background-color: #fff;
    border-radius: 8px;
    padding: 14px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.right-content input {
    height: 52px;
    padding: 14px 16px;
    margin-bottom: 12px;
    border: 1.5px solid #dddfe2;
    border-radius: 6px;
    font-size: 17px;
    outline: none;
}

.right-content input:focus {
    border-color: #1877f2;
}

.btn1 {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;
    margin-top: 4px;
}

.btn1:hover {
    background-color: #166fe5;
}

.right-content .forget-link {
    width: fit-content;
    align-self: center;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    margin: 16px 0;
}

.right-content .forget-link:hover {
    text-decoration: underline;
}

form hr {
    border: none;
    border-top: 1px solid #dadde1;
    margin-bottom: 20px;
}

.btn2 {
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding: 15px 16px;
    margin-bottom: 10px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.btn2:hover {
    background-color: #36a420;
}

.right-content p {
    font-size: 14px;
    margin-top: 28px;
    text-align: center;
}

.right-content p span {
    font-weight: bold;
    cursor: pointer;
}

.right-content p span:hover {
    text-decoration: underline;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .left-content p {
        font-size: 22px;
    }

    .left-content {
        margin-top: 200px;
    }

    .left-content img {
        width: 280px;
        margin-left: -25px;
        margin-bottom: -10px;
    }

    .right-content form {
        width: 370px;
    }

}

@media (max-width: 767px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .left-content {
        margin-top: 0px;
        width: 300px;
    }
    .left-content p {
        display: none;
    }

    .left-content img {
        width: 300px;   
        margin-left: 0;     
    }

    .right-content {
        margin-top: -60px;
    }

    .right-content form {
        width: 370px;
    }
}